body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/ 
    color: #444;
    padding: 0 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

body {
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

img {
  max-width: 100%;
  height: auto;
}
/*
p {
 font-family: Lato;
}

h {
 font-family: Georgia;
}
*/

.right-nav {
    float: right;
    padding: 0 10 0 10
}
.link {
    padding: 0 10 0 10
}
.dropdown {
    display: inline-block;
    position: relative;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 10;
    width: 120;
    border: 1px solid black;
}
.dropdown:hover .dropdown-content{
    display: block;
}


ul {
    list-style: '-';
    padding-left: 40;
}

li span {
    position: relative;
    left: 10px;
  }

img.smallerphoto {
    width: 90%;  
    height: 80%; 
} 
