body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #444;
    padding: 0 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

body {
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

img {
  max-width: 100%;
  height: auto;
}
/*
p {
 font-family: Lato;
}

h {
 font-family: Georgia;
}
*/
